---
name: "workflow"
on:
  # Triggers the workflow on push or pull request events but only for the "master" branch
  push:
    branches: [ "test" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  cd:
    name: "Deployment"
    runs-on: "ubuntu-latest"
    env:
      Greeting: Hello
  #if: startsWith(github.ref, 'refs/tags/')
    steps:
      - name: "Checkout Code"
        uses: "actions/checkout@v2"

      - name: check var
        #id: vars
        run: cat test.txt
